<% layout('layouts/boilerplate') %>

    <div class="container align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-md-4">
                <div class="card shadow">
                    <img src="https://res.cloudinary.com/drs623csl/image/upload/v1771979695/YelpCamp/wal4rz4pqstpmtixwfgg.webp"
                        alt="cerulean coast" class="card-mg-top">
                    <div class="card-body">
                        <h5 class="card-title">Account Login</h5>
                        <form action="/login" method="POST" class="needs-validation" noValidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username" autofocus
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3 d-grid gap-2">
                                <button class="btn btn-success">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>